.wrapper{

}

.topBlock{
    display: flex;
    margin-bottom: 30px;
}

.info{
    // display: flex;
    gap: 10px;
    padding: 10px;
}

.btnOk{
    background-color: green;
}
.btnAddExercise{
    background-color: brown;
}

.clearIcon{
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;

}
.clearIconFocused{
    scale: 2;
}

.intensityInfo{
    margin-bottom: 20px;

}