.constructor-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
}

.constructor {
    width: calc(100% - 300px);
    display: flex;
    gap: 20px;
}

.left-block {
    border: 1px solid red;
    width: 50%;
}

.right-block {
    width: 50%;
    border: 1px solid red;
}