.configured_wrapper {
}

.button_ok {
    display: block;
    background-color: green;
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
}

.top {
    display: flex;
    gap: 50px;
}

.btn_dellAll {
}
