.header{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
    background-color: black;
}